body {
  text-align: justify;
  text-rendering: geometricPrecision;
}

header {
  font-size: 36pt;
}

nav {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  break-after: avoid;
}

a, a:visited {
  color: #0000C0;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  color: #0000E0;
  text-decoration: underline;
}

nav ul, nav ul li {
  list-style-type: none;
}

nav ol {
  padding-left: 1.2em;
  line-height: 1.4em;
  margin: 0;
}

nav ul {
  line-height: 1.4em;
  padding-left: 0;
  margin: 0;
}

nav ul ul {
  padding-left: 1.2em;
}

@media print {
  header {
    font-size: 24pt;
    text-align: center;
    line-height: 25cm;

    page-break-after: always;
  }

  nav {
    page-break-after: always;
  }

  nav::before {
    display: block;
    content: 'Table des matières';
    font-size: 24px;
    margin-bottom: 1em;
  }

  a, a:visited {
    color: inherit;
  }
}

