html, body {
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}

h1 {
    line-height: 64px;
    font-size: 64px;
    color: yellow;
}

img {
    width: 70%;
    border: 2px solid white;
    padding: 5px;
}
